@import "/src/assets/Styles/settings.scss";


// ================= Style des étoiles ==================


.rating-bloc {

    @media (max-width: $xs) {

        display: flex;
        align-items: center;
    }

    .rating-stars {

        display: flex;
        justify-content: end;
        gap: 5px;

        .star {
            font-size: 30px;
            color: $color-grey;

            @media (max-width: $sm) {

                font-size: 20px;
            }

            @media (max-width: $xs) {

                font-size: 20px;
            }
        }

        .filled {
            color: $color-primary;
        }
    }
}