@import "/src/assets/Styles/settings.scss";


// ================= Style des étoiles ==================


.rating-bloc {

    .rating-stars {

        display: flex;
        justify-content: end;
        gap: 5px;

        .star {
            font-size: 30px;
            color: $color-grey;
        }

        .filled {
            color: $color-primary;
        }
    }
}