@import "/src/assets/Styles/settings.scss";


// ================= Style de location ==================

.location-bloc {

    p {
        font-family: $font-text;
        color: $color-police-main;
        margin: 0;
    }
}