@import "/src/assets/Styles/settings.scss";


// ================= Style des titres ==================


.title-main {

    max-width: 70%;
    margin: 0 auto;

    h1 {
        font-family: $font-text;
        color: $color-police-main;
        margin: 0;
        font-size: 2em;
    }
}