@import "/src/assets/Styles/settings.scss";


// ================= Style des cards ==================


.card-bloc {

    .card-elm {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $color-fond-whitegrey;
        padding: 40px 0px;
        gap: 50px;
        max-width: 70%;
        margin: 40px auto;
        border-radius: 25px;
        font-family: $font-text;
        user-select: none;

        @media (max-width: $xs) {

            max-width: 90%;
            flex-direction: column;
            padding: 0;
            margin: 25px auto;
            background-color: transparent;
            gap: 25px;
        }

        .card {

            width: 28%;
            height: 370px;
            position: relative;
            border-radius: 10px;
            filter: drop-shadow(0px 1px 10px $color-grey);
            transition: 0.4s ease;

            @media (max-width: $xs) {

                width: 100%;
                height: 300px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.397));
                    border-radius: 10px;
                }
            }


            &:hover {
                cursor: pointer;
                filter: drop-shadow(1px 5px 12px $color-grey);
                transform: scale(1.03);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.397));
                    border-radius: 10px;
                }

                @media (max-width: $xs) {

                    transform: none;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

            p {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 80%;
                margin: 5px 5px;
                color: $color-white;
                font-size: 1.1em;
            }
        }
    }
}