@import "/src/assets/Styles/settings.scss";


// ================= Style des host ==================


.host-bloc {

    .host-card {

        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
        user-select: none;

        @media (max-width: $sm) {

            gap: 10px;
        }

        @media (max-width: $xs) {

            gap: 10px;
        }

        .host-img {

            width: 60px;
            height: 30%;
            border-radius: 999px;
            filter: drop-shadow(3px 5px 15px $color-darkgrey);

            @media (max-width: $sm) {

                width: 50px;
            }

            @media (max-width: $xs) {

                width: 40px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 999px;
            }
        }

        .host-text {

            p {
                font-family: $font-text;
                color: $color-police-main;
                font-size: 1em;
                font-weight: 600;
                margin: 0;
                width: 93px;
                text-align: end;

                @media (max-width: $xs) {

                    width: 80px;
                }
            }
        }
    }
}