@import "/src/assets/Styles/settings.scss";


// ================= Style des collapses ==================


.collapse-bloc {

    .collapse-elm {

        max-width: 55%;
        margin: 40px auto;
        font-family: $font-text;

        @media (max-width: $xs) {

            max-width: 90%;
        }

        .collapse-item {

            margin: 20px 0;

            .collapse-title {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $color-primary;
                padding: 12px 15px;
                border-radius: 5px;
                user-select: none;
                cursor: pointer;

                @media (max-width: $xs) {

                    padding: 6px 10px;
                }

                h2 {
                    margin: 0;
                    color: $color-white;
                    font-weight: 500;

                    @media (max-width: $xs) {

                        display: flex;
                        align-items: center;
                        font-size: 1.2em;
                    }
                }

                i {
                    margin-top: 5px;
                    font-size: 1.5em;
                    color: $color-white;
                    transition: 0.5s ease;
                }

                .chevron-anim {
                    transform: rotate(-180deg);
                }
            }

            .collapse-content {
                background-color: $color-fond-whitegrey;
                border-radius: 0 0 5px 5px;
                font-size: 1.1em;
                color: $color-police-main;
                text-align: left;
                max-height: 0;
                overflow: hidden;
                transition: 0.6s ease;

                @media (max-width: $xs) {

                    font-size: 0.9em;
                }
            }

            .collapse-show {
                padding: 15px;
                height: auto;
                max-height: 160px;
            }
        }
    }
}