@import "/src/assets/Styles/settings.scss";


// ================= Style des collapses ==================


.collapse-elm {

    width: 47%;
    margin: 0;
    font-family: $font-text;

    @media (max-width: $md) {

        width: 100%;
        margin: 0 auto;
    }

    @media (max-width: $sm) {

        width: 100%;
        margin: 0 auto;
    }

    .collapse-item {

        margin: 10px 0;

        .collapse-title {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $color-primary;
            padding: 12px 15px;
            border-radius: 5px;
            user-select: none;
            cursor: pointer;

            @media (max-width: $lg) {

                padding: 6px 10px;
            }

            @media (max-width: $md) {

                padding: 6px 10px;
            }

            @media (max-width: $sm) {

                padding: 6px 10px;
            }

            h2 {
                margin: 0;
                color: $color-white;
                font-weight: 500;

                @media (max-width: $sm) {

                    display: flex;
                    align-items: center;
                    font-size: 1.1em;
                }
            }

            i {
                margin-top: 5px;
                font-size: 1.5em;
                color: $color-white;
                transition: 0.5s ease;

                @media (max-width: $sm) {

                    font-size: 1.1em;
                }
            }

            .chevron-anim {
                transform: rotate(-180deg);
            }
        }

        .collapse-content {
            background-color: $color-fond-whitegrey;
            border-radius: 0 0 5px 5px;
            font-size: 1.1em;
            color: $color-police-main;
            text-align: left;
            max-height: 0;
            overflow: hidden;
            transition: 0.6s ease;

            @media (max-width: $sm) {

                font-size: 0.9em;
            }
        }

        .collapse-show {
            padding: 15px;
            height: auto;
            max-height: 160px;

            @media (max-width: $xs) {

                max-height: 170px;
            }
        }
    }
}