@import "/src/assets/Styles/settings.scss";


// ================= Style du carrousel ==================

.back-slider {

    .bloc-slider {

        max-width: 70%;
        margin: 20px auto;
        user-select: none;
        filter: drop-shadow(1px 5px 12px $color-grey);

        @media (max-width: $xl) {

            max-width: 80%;
        }

        @media (max-width: $lg) {

            max-width: 90%;
        }

        @media (max-width: $md) {

            max-width: 90%;
        }

        @media (max-width: $sm) {

            max-width: 90%;
        }

        .img-slider {

            display: flex;
            position: relative;
            width: 100%;
            height: 450px;
            border-radius: 30px;

            @media (max-width: $xl) {

                height: 380px;
                border-radius: 10px;
            }

            @media (max-width: $lg) {

                height: 380px;
                border-radius: 10px;
            }

            @media (max-width: $md) {

                height: 300px;
                border-radius: 10px;
            }

            @media (max-width: $sm) {

                height: 300px;
                border-radius: 10px;
            }

            .counter {

                position: absolute;
                bottom: 5%;
                left: 48.5%;
                transform: translate(5%, 48.5%);
                z-index: 2;
                color: $color-white;
                font-family: $font-text;
                font-size: 1em;

                @media (max-width: $md) {

                    display: none;
                }

                @media (max-width: $sm) {

                    display: none;
                }


                // span {}
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 1;
                border-radius: 30px;

                @media (max-width: $lg) {

                    border-radius: 10px;
                }

                @media (max-width: $md) {

                    border-radius: 10px;
                }

                @media (max-width: $sm) {

                    border-radius: 10px;
                }
            }

            .slider-btn-left {

                position: absolute;
                z-index: 2;
                top: 50%;
                left: 0px;
                transform: translate(0%, -50%);
                background: none;
                border: none;
                height: 100%;
                width: 100px;
                border-radius: 30px 0px 0px 30px;
                transition: all 0.4s ease;

                @media (max-width: $xl) {

                    width: 12%;
                }

                @media (max-width: $lg) {

                    border-radius: 10px 0px 0px 10px;
                    width: 12%;
                }

                @media (max-width: $md) {

                    border-radius: 10px 0px 0px 10px;
                    width: 12%;
                }

                @media (max-width: $sm) {

                    border-radius: 10px 0px 0px 10px;
                    width: 12%;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(214, 214, 214, 0.562));
                }

                i {
                    color: $color-white;
                    font-size: 6em;
                    margin: 0;
                    transition: 0.4s ease;

                    @media (max-width: $xl) {

                        font-size: 4em;
                    }

                    @media (max-width: $lg) {

                        font-size: 4em;
                    }

                    @media (max-width: $md) {

                        font-size: 2.5em;
                    }

                    @media (max-width: $sm) {

                        font-size: 2.5em;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .slider-btn-right {

                position: absolute;
                z-index: 2;
                top: 50%;
                right: 0px;
                transform: translate(0%, -50%);
                background: none;
                border: none;
                height: 100%;
                width: 100px;
                border-radius: 0px 30px 30px 0px;
                transition: 0.4s ease;

                @media (max-width: $xl) {

                    width: 12%;
                }

                @media (max-width: $lg) {

                    border-radius: 0px 10px 10px 0px;
                    width: 12%;
                }

                @media (max-width: $md) {

                    border-radius: 0px 10px 10px 0px;
                    width: 12%;
                }

                @media (max-width: $sm) {

                    border-radius: 0px 10px 10px 0px;
                    width: 12%;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(214, 214, 214, 0.562));
                }

                i {
                    color: $color-white;
                    font-size: 6em;
                    margin: 0;
                    transition: 0.4s ease;

                    @media (max-width: $xl) {

                        font-size: 4em;
                    }

                    @media (max-width: $lg) {

                        font-size: 4em;
                    }

                    @media (max-width: $md) {

                        font-size: 2.5em;
                    }

                    @media (max-width: $sm) {

                        font-size: 2.5em;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}