// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #FF6060;

// --------- Nuance du site ----------

$color-fond-whitegrey: #F6F6F6;
$color-black: #000000;
$color-verydarkgrey: #5e5e5e;
$color-darkgrey: #787878;
$color-grey: #d6d6d6;
$color-white: #ffffff;

// --------- Nuance shadows ----------

$shadow-darkgrey: #dddddd5e;
$shadow-grey: #d3d3d3ab;
$shadow-light-grey: #dddddd;

// --------- Nuance police -----------

$color-police-main: #FF6060;

// --------- Police du site ----------

@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat bold';
    src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
}

// ------- Mixins et variables -------

$font-text: 'Montserrat';

$font-text-bold: 'Montserrat bold';

// ---------- Responsive ------------

// Mobil version
$xs: 490px;

// // Large Mobil version
$sm: 700px;

// // Tablet version
// $md: px;

// // Desktop Version
// $lg: px;

// // Large desktop Version
// $xl: px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------- Classes des éléments de page --------

// |=================================================|
// |==================| Appartement |================|
// |=================================================|

.bloc-appart {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    margin: 20px auto;
    margin-top: 30px;

    @media (max-width: $sm) {

        max-width: 90%;
    }

    @media (max-width: $xs) {

        max-width: 90%;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }

    .first-bloc-appart {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .scnd-bloc-appart {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: $sm) {

            flex-direction: column;
            justify-content: space-between;
        }

        @media (max-width: $xs) {

            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}

// .thrd-bloc-appart {

//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;

// }