// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #FF6060;

// --------- Nuance du site ----------

$color-fond-whitegrey: #F6F6F6;
$color-black: #000000;
$color-verydarkgrey: #5e5e5e;
$color-darkgrey: #787878;
$color-grey: #d6d6d6;
$color-white: #ffffff;

// --------- Nuance shadows ----------

$shadow-darkgrey: #dddddd5e;
$shadow-grey: #d3d3d3ab;
$shadow-light-grey: #dddddd;

// --------- Nuance police -----------

$color-police-main: #FF6060;

// --------- Police du site ----------

@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat bold';
    src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
}

// ------- Mixins et variables -------

$font-text: 'Montserrat';

$font-text-bold: 'Montserrat bold';

// ---------- Responsive ------------

// Small Mobile version
$xs: 380px;

// Mobile version
$sm: 490px;

// Large Mobile version
$md: 700px;

// Tablet Version
$lg: 920px;

// Desktop Version
$xl: 1440px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

// ------- Classes des éléments de page --------

// |=================================================|
// |==================| A Propos |===================|
// |=================================================|

@media (max-width: $lg) {

    .about-page {

        footer {

            margin-top: 15%;
        }
    }
}

@media (max-width: $md) {

    .about-page {

        footer {

            margin-top: 35%;
        }
    }
}

@media (max-width: $sm) {

    .about-page {

        footer {

            margin-top: 65%;
        }
    }
}

@media (max-width: $xs) {

    .about-page {

        footer {

            margin-top: 70%;
        }
    }
}

.about-collapse {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .collapse-elm {
        width: 55%;
    }

    @media (max-width: $xl) {

        max-width: 90%;
        margin: 0 auto;

        .collapse-elm {
            width: 70%;
        }
    }

    @media (max-width: $lg) {

        max-width: 90%;
        margin: 0 auto;

        .collapse-elm {
            width: 90%;
        }
    }

    @media (max-width: $md) {

        max-width: 90%;
        margin: 0 auto;

        .collapse-elm {
            width: 100%;
        }
    }
}


// |=================================================|
// |==================| Appartement |================|
// |=================================================|

.bloc-appart {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    margin: 20px auto;
    margin-top: 30px;

    @media (max-width: $xl) {

        max-width: 80%;
        flex-direction: row;
        margin-top: 15px;
        gap: 15px;
    }

    @media (max-width: $lg) {

        max-width: 90%;
        flex-direction: row;
        margin-top: 15px;
        gap: 15px;
    }

    @media (max-width: $md) {

        max-width: 90%;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }

    @media (max-width: $sm) {

        max-width: 90%;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }

    .first-bloc-appart {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .scnd-bloc-appart {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: $xl) {

            flex-direction: column;
            justify-content: space-between;
        }

        @media (max-width: $lg) {

            flex-direction: column;
            justify-content: space-between;
        }

        @media (max-width: $md) {

            flex-direction: row-reverse;
            justify-content: space-between;
        }

        @media (max-width: $sm) {

            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}

.thrd-bloc-appart {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: $xl) {

        flex-direction: row;
        max-width: 80%;
    }

    @media (max-width: $lg) {

        flex-direction: row;
        max-width: 90%;
    }

    @media (max-width: $md) {

        flex-direction: column;
        max-width: 90%;
    }

    @media (max-width: $sm) {

        flex-direction: column;
        max-width: 90%;
    }
}